<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Recipe Book!</title>
</head>

<body>
    <h1>Welcome to your Recipe Book!</h1>
    <h4>Please enter a recipe you would like to save below. Or choose to view the recipes you have saved.</h4>
    <nav>
        <a href="/show_recipes.html">View all Recipes</a>
        <!--PROD: <a href="/app1/show_recipes.html">View all Recipes</a>-->
    </nav>

    <h1>Add Recipe</h1>
    <!--PROD: <form action="/app1/hello_flask.html" method="POST">-->
    <form action="/" method="POST">
        <p>Recipe Name: <input type="text" name="name" required/></p>
        Recipe Ingredients: <br>
        <textarea rows="10" cols="50" name="ingredients" required></textarea><br><br>
        Recipe Description:<br>
        <textarea rows="10" cols="50" name="description" required></textarea>
        <p><input type="submit" value="Add"/></p>
    </form>
</body>
</html>