<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
    <title>Recipe Book!</title>
</head>
<body>
    <h1>Here are All of Your Recipes:</h1>
    <nav>
        <a href="/">Add More Recipies!</a>
        <!--PROD: <a href="/app1/hello_flask.html">Add More Recipies!</a>-->
    </nav>
    <table>
        <thead>
            <th>Recipe Name</th>
            <th>Ingredients</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.ingredients }}</td>
                    <td>{{ recipe.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>